[package]
name = "ec-gpu-gen"
version = "0.1.0"
authors = ["dignifiedquire <me@dignifiedquire.com>"]
edition = "2018"
description = "Code generator for field and eliptic curve operations on the GPUs"
homepage = "https://github.com/filecoin-project/ff-cl-gen"
repository = "https://github.com/filecoin-project/ff-cl-gen"
license = "MIT/Apache-2.0"

[dependencies]
ec-gpu = "0.1.0"

[dev-dependencies]
ff = "0.11.0"
blstrs = { version = "0.4.0", features = ["gpu"] }
rust-gpu-tools = { version = "0.5.0", default-features = false }
rand = "0.8"
lazy_static = "1.2"
tempfile = "3.2.0"

[features]
default = ["opencl", "cuda"]
cuda = ["rust-gpu-tools/cuda"]
opencl = ["rust-gpu-tools/opencl"]
